@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada:wght@400;700&display=swap');

.galada-font {
  font-family: 'Galada', sans-serif;
  font-size: 22px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-section {
  background-color: #ffd1dc;
  padding: 80px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
 
.welcome-section {
 font-size: 12px;
}

.galada-font {
  font-family: 'Galada', sans-serif;
  font-size: 18px;
}
    
}
.info-section {
  background-color: #ffe6ee;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.go-section {
  background-color: #ffe6ee;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.title {
  font-family: 'Great Vibes', cursive;
  color: #824b33;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  text-align: left;
}

p {
  color: #4a4a4a;
}

.nombre-usuario{
  font-size: 40px;
  font-family: 'Galada', sans-serif;
}

.imagen-usuario {
  border-radius: 50%; 
  width: 250px; 
  height: 250px; 
  object-fit: cover; 
   border: 6px solid #824b33; 
  }
